del.diffmod, del.diffins, del.diffdel {
  display: none;
}

ins.user-minion, div.user-minion {
  color: #EE9B09;
}
ins.user-apple, div.user-apple{
  color: #8F2400;
}
ins.user-brilliant-rose, div.user-brilliant-rose {
  color: #911A5B;
}
ins.user-summer-sky, div.user-summer-sky {
  color: #B34718;
}
ins.user-sunset, div.user-sunset {
  color: #C44786;
}
ins.user-parrot, div.user-parrot {
  color: #418152;
}
ins.user-teal, div.user-teal {
  color: #238196;
}
ins.user-cerulean, div.user-cerulean {
  color: #085280;
}
ins.user-prussian-blue, div.user-prussian-blue {
  color: #063C5E;
}
ins.user-midnight, div.user-midnight {
  color: #000F2B;
}
ins.user-cloud div.user-cloud {
  color: #96918C;
}

.diff-responsive-table-wrapper > h2 a {
  display: none;
}
